@charset "utf-8";
/* top */
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 75%;
}
a{
    text-decoration: none;
    color: #666;
}
ol,ul{
    list-style: none;
}
.top{
    height: 28px;
    line-height: 28px;
    background: #f2f2f2;
    color: #666;
    .topleft{
        margin-left: 37px;
        float: left;
        a{
            display: inline-block;
            line-height: 28px;
            padding: 0 5px;
        } 
    }
    .topright{
        float:right;
        margin-right:40px;
        a{
            display: inline-block;
            line-height: 28px;
            padding: 0 5px;
        }
        #tel{
            padding: 0 19px;
            position: relative;
            .code{
                display: none;
                position: absolute;
                z-index: 1;
                left: 0;
                top: 28px;
                box-shadow: 0 0 5px #efefef;
                text-align: center;
                line-height: 15px;
            }
            &:hover{
                background-color:#dddddd;
            }
            &:hover .code{
                display: block;
            }
            i{
                display: inline-block;
                width: 0;
                border: 5px solid transparent;
                border-top-color: #999;
                border-bottom-width: 0;
                vertical-align: middle;
            }
        }
    }
}
/*      search       */ 
.sea{
    padding: 24px 37px 16px 37px;
    height: 78px;
    .logo>a>img{
        float: left;
        width: 215px;
    }
    .search{
        padding: 20px 0 0 105px;
        float: left;
        form{
            input{
                width: 450px;
                height: 25px;
                border: 1px solid #c81623;
                padding: 5px;
            }
            .sea_sea{
                position: relative;
                left: -10px;
                font-size: 14px;
                color: #fff;
                text-align: center;
                line-height: 36px;
                display: inline-block;
                width: 100px;
                height: 37px;
                background-color:#ea2329;
                border-radius: 0 5px 5px 0;
                margin-right: 5px;
            }
        } 
        .keys{
            margin-top: 3px;
            .key_sp{
                color: #ea2329;
            }
            .key_a{
                color: #999;
                margin: 0 5px;
            }
        }
    }
    .shop{
        float: left;
        margin:20px 0 0 135px;
        width: 137px;
        height: 36px;
        border-radius: 5px;
        background-color: #ea2329;
        .shop_a{
            position: relative;
            .iconfont{
                color: #fff;
                font-size:18px;
                line-height: 36px;
                margin-left: 20px;
                .spa{
                    position: absolute;
                    font-size: 12px;
                    left:30px;
                    top: -18px;
                    height: 18px;
                    width: 18px;
                    text-align: center;
                    line-height: 18px;
                    border: 1px solid #ea2329;
                    border-radius: 20px;
                    background-color: #fff;
                    color: #ea2329;
                }
                .sp{
                    font-size:14px;
                }
            }
        }
    }
}
/*  ----  nav  --- */ 
.nav{
    height: 40px;
    line-height: 40px;
    .box{
        width: 1190px;
        margin: auto;
        .navleft{
            float: left;
            width: 223px;
            height: 40px;
            text-align: center;
            background-color: #008fd5;
            .quan{
                color: #fff;
                font-size: 14px;
            }
            .lis_nav{
                display: none;
                position: relative;
                z-index: 10;
                background-color: #fff;
                .oul{
                    .oli{
                        height: 60px;
                        margin-bottom:20px ;
                        .oli_a{
                            font-size: 14px;
                            color: #666666;
                            line-height: 50px;
                            .img_a{
                                width: 30px;
                                height: 30px;
                                vertical-align: middle;
                            }
                            .img_sp{
                                vertical-align: top;
                            }
                        }
                        .hid{
                            width: 450px;
                            position: relative;
                            left: 220px;
                            top: -50px;
                            background-color: #fff;
                            display: none;
                            fieldset{
                                border: none;
                                border-top: 1px solid #dadada;
                            }
                            .fie{
                                height: 80px;
                                #nav_de{
                                    width: 210px;
                                    img{
                                        width: 40px;
                                        height: 50px;
                                        position: absolute;
                                    }
                                    .nav_sp1{
                                        font-size: 14px;
                                        color: #333;
                                        position: relative;
                                        top: -5px;
                                        left: 50px;
                                    }
                                    .nav_sp2{
                                        font-size: 12px;
                                        color: #999999;
                                        position: relative;
                                        left: -85px;
                                        top: 18px;
                                    }
                                    .nav_spa1{
                                        font-size: 14px;
                                        color: #333;
                                        position: relative;
                                        top: -5px;
                                        left: 50px;
                                    }
                                    .nav_spa2{
                                        font-size: 12px;
                                        color: #999999;
                                        position: relative;
                                        left: -80px;
                                        top: 20px;
                                    }
                                }
                            }
                            .nav_fie{
                                height: 80px;
                                #nav_dee{
                                    width: 210px;
                                    img{
                                        width: 40px;
                                        height: 50px;
                                        position: absolute;
                                    }
                                    .nav_spa3{
                                        font-size: 14px;
                                        color: #333;
                                        position: relative;
                                        top: -5px;
                                        left: 50px;
                                    }
                                    .nav_spa4{
                                        font-size: 12px;
                                        color: #999999;
                                        position: relative;
                                        left: -85px;
                                        top: 20px;
                                    }
                                    .nav_spa5{
                                        font-size: 14px;
                                        color: #333;
                                        position: relative;
                                        top: -5px;
                                        left: 50px;
                                    }
                                    .nav_spad{
                                        font-size: 12px;
                                        color: #999999;
                                        position: relative;
                                        left: -80px;
                                        top: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .navright{
        float: left;
        .navr_a{
            display: block;
            float: left;
            width: 110px;
            font-size: 14px;
            color: #333333;
            text-align: center;
        }
        .navr_a:hover{
            color: #c81623;
        }
    }
}
/*banner*/ 
.banner{
    width: 100%;
    height: 480px;
    position: relative;
    overflow: hidden;
    .oln{
        position: absolute;
        bottom: 23px;
        left: 515px;
        z-index: 10;
        li{
            width: 19px;
            height: 6px;
            float: left;
            margin: 6px;
            background-color: #cdd3d1;
            cursor: pointer;
        }
        .active{
            background-color:#ea2329;
        }
    }
    .ban{
        width: 10112px;
        height: 480px;
        position: absolute;
        .ban_li{
            float: left;
            .ban_limg{
                display: block;
            }
        }
    }
    .left_btn{
        float: left;
        position: absolute;
        width: 20px;
        height: 40px;
        top:220px;
        background-color: #999;
        border: none;
        opacity: .2;
    }
    .right_btn{
        float: right;
        position: relative;
        width: 20px;
        height: 40px;
        top:220px;
        background-color: #999;
        border: none;
        opacity: .2;
    }
    button:hover{
        cursor: pointer;
        opacity: .7;
    }
}
/*----  footer  ----*/ 
.footer{
    padding: 35px 0;
    .footop{
        margin-bottom: 20px;
        border-bottom: 1px solid #dadada;
        width: 1190px;
        height: 157px;
        margin: 0 auto;
        .help{
            width: 150px;
            margin: 0 23px;
            text-align: center;
            float: left;
            img{
                margin: 0 auto 15px;
            }
            h4{
                font-size: 18px;
                color: #333;
            }
        }
    }
    .foo{
        height: 190px;
        margin:0 auto;
        margin-top: 20px;
        padding-left: 68px;
        .info{
            float: left;
            width: 184px;
            margin-right: 20px;
            padding-left: 34px;
            h6{
                color: #333;
                font-size: 14px;
                width: 80px;
                height: 36px;
                line-height: 36px;
                border-bottom: 1px solid #dadada;
                margin-bottom: 10px;
                padding-right: 20px;
                font-weight: normal;
            }
            ul li{
                margin-bottom: 5px;
                line-height: 18px;
                color: #666;
                cursor: pointer;
            }
            li:hover{
                color: #c81623;
            }
            p{
                margin-bottom: 9px;
                img{
                    width: 60px;
                    height: 60px;
                }
                b{
                    font-size: 18px;
                    color:#0b5394 ;
                }
            }
        }
        #tel{
            padding-left: 0;
        }
    }
}
/*----  bottom  ----*/
.bottom{
    height: 142px;
    width: 1190px;
    margin: auto;
    .bott{
        text-align: center;
        line-height: 40px;
        a{
            color: #ccc;
            margin: 0 6px;
        }
        .bott_sp{
            color: #ccc;
        }
    }
    .botm{
        text-align: center;
        line-height: 25px;
        a{
            color: #1766dd;
        }
    }
    .botmm{
        text-align: center;
        a{
            color: #1766dd;
        }
        img{
            width: 26px;
            height: 36px;
        }
    }
}
